* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  color: #666;
  background: #f6f6f6;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  /*  font-family: "Lora", sans-serif; */
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}

#episodes {
  display: flex;
  flex-wrap: wrap;
}

h1.episodeTitle {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.codeAndScroll {
  padding: 0 2.5rem 0.5rem 2.5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.scrollToTop {
  padding: 0px 10px;
  cursor: pointer;
}
#controls {
  //border: solid 1px black;
  margin-left: 1rem;
}

input,
select,
button,
#countDisplay {
  padding: 10px;
  margin-right: 10px;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.show h1 {
  font-size: 3rem;
  margin: 0px 0px 10px 10px;
}
a {
  text-decoration: none;
  color: #202020;
}
.show {
  //background: #c0e0d0;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: 4px 4px 10px 2px #ccc;
  border-radius: 5px;
  //border: 2px solid gray;
}

figure {
  min-width: 160px;
  margin: 0;
}

.three-panels {
  display: flex;
}
.panel {
  margin: 10px;
}
.panel-three {
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
  padding: 10px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 3px;
}

.info-key {
  font-weight: bold;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1 button {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
}
input {
  padding: 10px;
  margin: 10px 10px 0 10px;
}
#controlPanel {
  display: flex;
}

.control {
  padding: 10px;
  margin: 10px 10px 0 10px;
}

#filterSummary::before {
  content: "found ";
}
#filterSummary::after {
  content: " shows";
}
#filterSummary {
}

#loadingNotice {
  padding: 200px;
  font-size: 5rem;
  margin: 100px;
  border: 10px solid black;
  border-radius: 20px;
}

#listShowsLink {
  cursor: pointer;
  color: white;
}

header {
  background: #3f3f3f;
  height: 104px;
  padding: 20px 20px;
  border: 1px solid green;
  display: flex;
}

header h1 {
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  min-width: 80%;
}

/* basics of modal dialog taken from: https://css-tricks.com/considerations-styling-modal/ */
#voiceCommandsHelpDialog {
  border: 5px solid black;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  max-width: 100%;

  max-height: 100%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  line-height: 2rem;
}

.modal h3 {
  margin: 0;
}
